<!-- pagination.component.html -->
<div class="pagination-container">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="i + 1 === currentPage">
      <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
    </li>
  </ul>
</div>
