<div class="change-password-container">
    <div class="change-password-form-container">
      <!-- Welcome message -->
      <div class="welcome-title">
        <h1>Reset Your Password</h1>
      </div>
  
      <!-- Change password form -->
      <div class="change-password-form">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onChangePasswordSubmit()">
          <!-- New Password -->
          <div class="form-group">
            <label for="newPassword" style="font-weight: 600">New Password</label>
            <div class="input-group">
              <input
                formControlName="newPassword"
                class="form-control"
                [type]="passwordVisible ? 'text' : 'password'"
                placeholder="Enter new password"
                required
              />
              <div class="input-group-text">
                <i
                  class="bi"
                  [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"
                  style="font-size: 20px; cursor: pointer"
                  (click)="togglePasswordVisibility()"
                ></i>
              </div>
            </div>
            <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
                 class="text-danger">
              Password must be at least 6 characters long and contain a number and a special character.
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="form-group">
            <label for="confirmPassword" style="font-weight: 600">Confirm Password</label>
            <div class="input-group">
              <input
                formControlName="confirmPassword"
                class="form-control"
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                placeholder="Confirm new password"
                required
              />
              <div class="input-group-text">
                <i
                  class="bi"
                  [ngClass]="confirmPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"
                  style="font-size: 20px; cursor: pointer"
                  (click)="toggleConfirmPasswordVisibility()"
                ></i>
              </div>
            </div>
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched"
                 class="text-danger">
              Passwords must match.
            </div>
          </div>

          <div class="reset-footer">
            <button type="submit" class="btn btn-action btn-primary" style="width: 100%;">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  