<div class="user-screenshots-container">
  <div class="user-header">
    <!-- Back Button -->
    <button (click)="goBack()" class="back-button">Back to All Screenshots</button>
    
    <!-- User Info Header -->
    <h2>{{ userName }}'s Screenshots</h2>
    <p class="subheader">Viewing all screenshots</p>

    <!-- Workshift Info -->
    <div class="workshift-info">
      <p>Work Shift: {{ workShiftName }}</p>
    </div>
  </div>
    <!-- Idle Percentage Card -->
    <div class="idle-percentage-card">
      <h3>Idle Screenshots Percentage</h3>
      <p>{{ getIdlePercentage() | number:'1.2-2' }}%</p>
    </div>
<!-- Toggle Buttons for Idle/Non-Idle Screenshots -->
<div class="toggle-buttons">
  <button 
    [class.active]="filterType === 'All'" 
    (click)="setFilter('All')">All Screenshots
  </button>
  <button 
    [class.active]="filterType === 'Idle'" 
    (click)="setFilter('Idle')">Idle Screenshots
  </button>
  <button 
    [class.active]="filterType === 'NonIdle'" 
    (click)="setFilter('NonIdle')">Non-Idle Screenshots
  </button>
</div>
  <!-- Screenshot List -->
  <div class="screenshots-list">
    <div *ngFor="let screenshot of paginatedScreenshots" class="screenshot-card">
      <div class="image-container">
        <!-- Screenshot Thumbnail -->
        <img 
          [src]="getImageUrl(screenshot.screenshotFile)" 
          alt="Screenshot Image" 
          class="screenshot-thumbnail" 
          (click)="viewImage(screenshot)"
        />
      </div>
      <div class="screenshot-details">
        <span class="screenshot-time">{{ screenshot.screenShotTime | date: 'short' }}</span>
      </div>
      <div class="screenshot-details">
        <span class="screenshot-time">MouseClicks : {{ screenshot.mouseClicks}}</span>
      </div>
      <div class="screenshot-details">
        <span class="screenshot-time">KeyBoardClicks : {{ screenshot.keyBoardClicks}}</span>
      </div>
      <div class="screenshot-details">
        <span class="screenshot-time">KeyBoardInputs : {{ screenshot.keyBoardInputs}}</span>
      </div>
    </div>
  </div>
</div>

<!-- Modal to view the image in full size -->
<div class="modal" *ngIf="isVisible" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="getImageUrl(selectedImage?.screenshotFile)" alt="Full size screenshot" class="modal-image" />
    <p class="modal-time">{{ selectedImage?.screenShotTime | date: 'short' }}</p>
  </div>
</div>



   <!-- Pagination -->
   <app-pagination 
   [currentPage]="currentPage" 
   [itemsPerPage]="itemsPerPage"
   [totalItems]="totalCount"
   (pageChange)="onPageChange($event)">
 </app-pagination>