<div class="dashboard-summary">
    <div class="dashboard-card">
      <div class="dashboard-card-title">Total Team Members</div>
      <h4 class="dashboard-card-value">-</h4>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-title">Currently Working</div>
      <h4 class="dashboard-card-value">-</h4>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-title">Currently On Break</div>
      <h4 class="dashboard-card-value">-</h4>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-title">Currently Finished Work</div>
      <h4 class="dashboard-card-value">-</h4>
    </div>
  </div>

  <div class="dashboard-charts">
    <div class="dashboard-table-section">
      <div class="dashboard-header">
        <div class="dashboard-header-title">Late Clock-in Employees</div>
        <div class="dashboard-header-count">
        </div>
      </div>
      <div class="table-responsive">
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>Actual</th>
              <th>Required</th>
              <th>Late By</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="employee-info">
                  <div class="employee-avatar">A</div>
                  <a href="/personal-statistics/FO8EJCO7N9Gji_Q67lUIj" class="employee-name">Ahmed Ali Mohamed</a>
                </div>
              </td>
              <td>10:34 AM</td>
              <td>05:00 AM</td>
              <td>05h 34m</td>
            </tr>
            <tr>
              <td>
                <div class="employee-info">
                  <div class="employee-avatar">M</div>
                  <a href="/personal-statistics/pAGKTx9lEIVkKPSUV2rPl" class="employee-name">Mayar Mohamed Ahmed </a>
                </div>
              </td>
              <td>07:12 AM</td>
              <td>05:00 AM</td>
              <td>02h 12m</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="dashboard-table-section">
      <div class="dashboard-header">
        <div class="dashboard-header-title">Absence Today</div>
      </div>
      <div class="dashboard-absence-listing">
        <div class="absence-item">
          <div class="employee-avatar">A</div>
          <a href="/personal-statistics/fMrEj31fRNBH8gZyd2OSo" class="employee-name">Ammar Mohamed Samir Ibrahim</a>
        </div>
      </div>
    </div>
  </div>