<body>

    <div class="not-authorized-container">
        <div class="not-authorized-content">
            <h1>403 - Access Denied</h1>
            <p>Oops! You do not have the required permissions to view this page.</p>
            
            <div class="role-info">
                <h2>Why Am I Seeing This?</h2>
                <ul>
                    <li><i class="fa fa-ban"></i> Your account does not have the required role.</li>
                    <li><i class="fa fa-user-lock"></i> This section is restricted to authorized users only.</li>
                    <li><i class="fa fa-shield-alt"></i> Contact an administrator if you believe this is an error.</li>
                </ul>
            </div>

            <div class="button-group">
                <a href="/home" class="btn btn-home"><i class="fa fa-home"></i> Back to Home</a>
            </div>
        </div>
    </div>

</body>