.root-layout {
  display: grid;
  height: 100vh;
  overflow-y: hidden;
  background-color: #f4f9fc;
  grid-template-columns: 280px minmax(0px, 1fr);
  margin: 0px;
}
.root-layout-menu {
  height: 100vh;
}
.root-layout-page {
  height: 100vh;
  background-color: rgb(252, 252, 252);
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-rows: 10px minmax(0px, 1fr);
}