<!-- Modal -->
<div class="modal" *ngIf="isVisible" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5)">
  <div class="modal-dialog" style="max-width: 80%; width: auto; height: auto">
    <div class="modal-content" style="border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); background-color: #f4f9fc;">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 24px; color: #0056b3; font-weight: 700">
          Bulk User Upload
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()" style="border: none; font-size: 20px; color: #007bff"></button>
      </div>
      <div class="modal-body" style="padding: 20px">
        <form [formGroup]="bulkUploadForm" (ngSubmit)="onFileUpload()">
          <!-- File Input & Download CSV Button -->
          <div class="form-group d-flex align-items-center">
            <label for="fileInput" style="font-weight: 600; margin-right: 10px">Upload CSV File</label>
            <input type="file" id="fileInput" #fileInput (change)="onFileChange($event)" class="form-control" accept=".csv" required />
            <button type="button"class="btn btn-link csv-button" (click)="downloadSample('csv')">
              Download CSV Sample
            </button>
          </div>
          <div class="form-group">
            <label for="roleName" style="font-weight: 600">Role</label>
            <div class="input-group">
              <div class="input-group-text">
                <i class="bi bi-person-badge" style="font-size: 20px; color: #007bff"></i>
              </div>
              <select id="roleName" class="form-control" formControlName="roleName">
                <option *ngFor="let role of roles" [value]="role.roleName">
                  {{ role.roleName }}
                </option>
              </select>
            </div>
            <div *ngIf="bulkUploadForm.get('roleName')?.invalid && bulkUploadForm.get('roleName')?.touched"
              class="text-danger">
              Role is required.
            </div>
          </div>
          <div *ngIf="roleName === 'Employee'">
            <div class="form-group">
              <label for="supervisorId" style="font-weight: 600">Supervisor</label>
              <div class="input-group">
                <div class="input-group-text">
                  <i class="bi bi-person-check" style="font-size: 20px; color: #007bff"></i>
                </div>
                <select id="supervisorId" class="form-control" formControlName="supervisorId">
                  <option *ngFor="let supervisor of supervisors" [value]="supervisor.id">
                    {{ supervisor.firstName }} {{ supervisor.lastName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- Team Leader Fields (Conditional) -->
          <div *ngIf="roleName === 'Employee' || roleName === 'Supervisor'">
            <div class="form-group">
              <label for="teamLeaderId" style="font-weight: 600">Team Leader</label>
              <div class="input-group">
                <div class="input-group-text">
                  <i class="bi bi-person-bounding-box" style="font-size: 20px; color: #007bff"></i>
                </div>
                <select id="teamLeaderId" class="form-control" formControlName="teamLeaderId">
                  <option *ngFor="let teamleader of teamLeaders" [value]="teamleader.id">
                    {{ teamleader.firstName }} {{ teamleader.lastName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- WorkShift -->
          <div *ngIf="roleName !== 'Manager' && roleName !== 'Admin'">
            <div class="form-group">
              <label for="workShiftId" style="font-weight: 600">WorkShift</label>
              <div class="input-group">
                <div class="input-group-text">
                  <i class="bi bi-clock" style="font-size: 20px; color: #007bff"></i>
                </div>
                <select id="workShiftId" class="form-control" formControlName="workShiftId">
                  <option *ngFor="let workShift of workShifts" [value]="workShift.id">
                    {{ workShift.shiftName }}
                  </option>
                </select>
              </div>
              <div *ngIf="bulkUploadForm.get('workShiftId')?.invalid && bulkUploadForm.get('workShiftId')?.touched"
                class="text-danger">
                WorkShift is required.
              </div>
            </div>
          </div>

          <div class="modal-footer" style="border-top: none">
            <button type="button" class="btn btn-action btn-secondary" (click)="closeModal()">Close</button>
            <button type="submit" class="btn btn-action btn-primary">
              Upload Users
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
