<!-- *ngIf="currentUser" -->
<div class="sidebar-wrapper-content">
  <!-- Realtime Parent -->
  <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-tachometer-alt"></i> Realtime
    </div>
    <a class="sidebar-wrapper-content-navbar-list selected tour-fourth-step" href="/data/overview">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-chart-line"></i> Overview
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/data/my-teams">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-users"></i> My Team
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/data/my-work">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-briefcase"></i> My Work
      </div>
    </a>
  </div>

  <!-- User Management Parent -->
  <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-users-cog"></i> User Management
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/users">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-user"></i> Users
      </div>
    </a>
  </div>

  <!-- Role Management Parent -->
  <div class="sidebar-wrapper-content-parent" *ngIf="currentUser.roles">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-shield-alt"></i> Role Management
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/roles">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-cogs"></i> Roles
      </div>
    </a>
  </div>

  <!-- Work Management Parent -->
  <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-clipboard-list"></i> Work Management
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/workshifts">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-calendar-alt"></i> Work Shifts
      </div>
    </a>
  </div>

  <!-- Proof of Work Parent -->
  <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-check-circle"></i> Proof of Work
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/screenshots/all">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-image"></i> Screenshots
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/reports/absence-reports">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-calendar-check"></i> Attendance
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/reports/worklog-reports">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-file-alt"></i> Work Log Reports
      </div>
    </a>
  </div>

  <!-- HR Parent -->
  <!-- <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-building"></i> HR
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/screenshots/all">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-file-invoice"></i> Hr Letter Request
      </div>
    </a>
  </div>

  <-- Leave Management Parent -->
  <!-- <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-calendar-alt"></i> Leave Management
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/apply-leave">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-sign-out-alt"></i> Apply Leave
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/leave-summary">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-file-alt"></i> Leave Summary
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/manage-leave">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-edit"></i> Manage Leave
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/manage-holiday">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-calendar-day"></i> Manage Holiday
      </div>
    </a>
  </div>  -->

  <!-- Apps Usage Parent -->
  <div class="sidebar-wrapper-content-parent">
    <div class="sidebar-wrapper-content-parent-name">
      <i class="fa fa-cogs"></i>Users Apps Usage
    </div>
    <a class="sidebar-wrapper-content-navbar-list" href="/review-usage">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-search"></i> Review Apps
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/apps-history">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-history"></i> Apps History
      </div>
    </a>
    <a class="sidebar-wrapper-content-navbar-list" href="/apps-summary">
      <div class="sidebar-wrapper-content-navbar-list-item-name">
        <i class="fa fa-chart-bar"></i> Apps Summary
      </div>
    </a>
  </div>
</div>
