<div class="container time-tracker">
  <div class="card shadow-sm my-4">
    <!-- Card Header with Greeting Message -->
    <div class="card-header text-center">
      <div class="greeting-message">
        {{ greetingMessage }}
      </div>
    </div>

    <!-- Time Display -->
    <div class="row mt-4">
      <div class="col-12 time-display">
        <!-- Show working time if not paused -->
        <h2 *ngIf="!isPaused && !isStopped">{{ getFormattedTime() }}</h2>
        <!-- Show paused time when on break or in a meeting -->
        <h2 *ngIf="isPaused && !isStopped">{{ getFormattedPauseTime() }}</h2>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="row justify-content-center buttons">
      <div class="col-auto">
        <!-- Show "Check In" only if timer is not running or stopped -->
        <button *ngIf="!isWorking && !isPaused && !isStopped && timeElapsed === 0" class="btn btn-primary" (click)="checkIn()">
          <i class="fas fa-play-circle"></i> Check In
        </button>
      </div>

      <div class="col-auto">
        <!-- Show "Resume" if the timer is paused, and hide if the timer is stopped -->
        <button *ngIf="!isWorking && !isStopped && timeElapsed > 0" class="btn btn-success" (click)="resume()">
          <i class="fas fa-play-circle"></i> Resume
        </button>
      </div>

      <div class="col-auto">
        <!-- Dropdown for Pause Options -->
        <div class="dropdown" *ngIf="isWorking && !isPaused && !isStopped">
          <button class="btn btn-warning dropdown-toggle" type="button" id="pauseDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-pause-circle"></i> Pause
          </button>
          <ul class="dropdown-menu" aria-labelledby="pauseDropdown">
            <li><a class="dropdown-item" (click)="pauseBreak()">Pause Break</a></li>
            <li><a class="dropdown-item" (click)="pauseMeeting()">Pause Meeting</a></li>
          </ul>
        </div>
      </div>

      <div class="col-auto">
        <!-- Show "Stop" when the timer is running or paused -->
        <button *ngIf="isWorking || isPaused" class="btn btn-danger" (click)="openCheckoutModal()">
          <i class="fas fa-stop-circle"></i> Stop
        </button>
      </div>
    </div>
  </div>
</div>
<app-checkout-confirmation-modal  [isVisible]="checkoutModalVisible" (close)="closeCheckoutModal($event)"></app-checkout-confirmation-modal>